.ant-layout-header {
  height: 64px !important;
  line-height: 64px !important;
  background-color: #ff5349;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.ant-layout-footer {
  height: 64px !important;
  line-height: 64px !important;
  padding: 0 !important;
  background-color: #efefef;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2), 3px 0 0 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.ant-layout-content {
  background-color: #ff5349;
}

.ant-btn {
  font-weight: 500;
  color: #fff !important;
  background: #ff5349;
  border-radius: 125px;
  border: 2px solid #fff;
  text-transform: uppercase;
  height: 40px;
  min-width: 100px;
}

.ant-btn-default:not(:disabled):hover {
  border: none;
  background: white;
  color: #ff5349 !important;
}
